/* Main app styling */
.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.App-header {
  background-color: #353a45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Responsive header text */
.home-header {
  font-size: 3.5em;
}

.video-name-header {
  font-size: 1.4rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Responsive header adjustments */
@media (max-width: 768px) {
  .home-header {
    font-size: 2.5em;
  }
  .video-name-header {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .home-header {
    font-size: 2em;
  }
  .video-name-header {
    font-size: 1rem;
  }
}

/* Base button styles */
.movie-btn {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0.5em;
  cursor: pointer;
  border: none;
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  transition: all 0.3s ease;
}

/* Hover effect for buttons */
.movie-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
}

.next-btn {
  margin-left: 3%;
}
.back-btn {
  margin-right: 3%;
}

.home-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.15);
  transition: all 0.3s ease;
}

.next-btn:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
  transform: translateX(10px); /* Moves the button 10px to the right */
}
.back-btn:hover {
  transform: scale(1.15);
  transition: all 0.3s ease;
  transform: translateX(-10px); /* Moves the button 10px to the right */
}

.back-btn:disabled,
.next-btn:disabled {
  transform: none; /* Removes the scaling effect. */
  box-shadow: none; /* Removes the shadow effect */
  opacity: 0.6; /* Butonun daha az belirgin görünmesi için */
  transition: none; /* Disables any animation or transition effects */
}

/* Responsive styles for buttons */
@media (max-width: 1200px) {
  .movie-btn {
    width: 30%;
    font-size: 1.1rem;
  }
  .youtube-player-container {
    width: 110%;
  }
  .action-card {
    width: 110%;
  }
  .video-name-header {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .movie-btn {
    width: 40%;
    font-size: 1.1rem;
  }
  .youtube-player-container {
    width: 100%;
  }
  .action-card {
    width: 100%;
  }
  .video-name-header {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .movie-btn {
    width: 50%;
    font-size: 1.2rem;
  }
  .youtube-player-container {
    width: 100%;
  }

  .video-name-header {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .youtube-player-container {
    width: 100%;
  }

  .video-name-header {
    font-size: 0.8rem;
  }
  .action-card {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .movie-btn {
    width: 100%;
    font-size: 1.3rem;
  }
  .youtube-player-container {
    max-width: 100%;
  }
  .action-card {
    max-width: 100%;
  }
  .video-name-header {
    font-size: 0.8rem;
  }
}

/* Category card styling */
.action-card,
.comedy-card,
.drama-card,
.thriller-card,
.horror-card,
.romance-card {
  border-radius: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Background colors for categories */
.action-card {
  background-color: #a51d1d;
}

.comedy-card {
  background-color: #ffc300;
}

.drama-card {
  background-color: #8e44ad;
}

.triller-card {
  background-color: #4f4f4f;
}

.horror-card {
  background: linear-gradient(to bottom, #b20505, #000000);
}

.romance-card {
  background-color: #ff69b4;
}

/* Custom styles for each category button */
.comedy-btn {
  background-color: #ffc300;
  color: white;
}

.action-btn {
  background-color: #a51d1d;
  color: white;
}

.horror-btn {
  background-color: #000000;
  color: white;
}

.drama-btn {
  background-color: #8e44ad;
  color: white;
}

.romance-btn {
  background-color: #ff69b4;
  color: white;
}

.thriller-btn {
  background-color: #6e6e6e;
  color: white;
}

/* Navigation button styles */
.next-btn,
.back-btn,
.home-btn {
  padding: 2%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 5px;
}

.home-btn {
  margin-bottom: 2%;
}

/* Spinner styling */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Youtube Player Container Styles */
.youtube-player-container,
.action-card {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.arrow-icon {
  background: none; /* No background for the icon container */
  color: black; /* Set the icon color */
}
